:root {
	/* CSS3 - Definição de variáveis */
	--vermelho: #e50914;
	--preto: #141414;
}

* {
	/* Reset das configurações padrões dos navegadores */
	margin: 0;
	padding: 0;
	box-sizing: border-box;	/* faz com que o conteudo não extrapole o tamanho máximo definido para ele  */
}

body {
	background: var(--preto); /* uso da variável definida*/
	font-family: 'Arial';
	color: white;
}

header .container {
	display: flex; 			/* usa flexbox: organiza os elementos, por padrão, em linha */
	flex-direction: row; 	/* orientacao padrão do flex, exibido apenas para conhecimento */
	align-items: center; 	/* para 'flex-direction: row' alinha o conteúdo na vertical */
	justify-content: space-between; /* define que o espaço restante vai ser colocado entre os elementos filhos de .container */
}

header .logo {
	margin-left: 5px;
	color: var(--vermelho);
	font-family: 'Arial';
	font-size: 40px;
}

header nav a {
	text-decoration: none; /* remove o efeito sublinhado */
	color: #aaa;
	margin-right: 10px;
}

header nav a:hover {
	/* Define a cor quando o mouse estiver sobre o link */
	color: #fff;
}

/* Título principal*/

.em-destaque {
	font-size: 16px;
	background: 
		linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)); /* cria um degradê, nesse caso, escurece um pouco a imagem para melhorar a visibilidade do texto*/
		
	height: 400px;
	background-size: cover; /* faz com que a imagem do backgroud seja do tamanho da div/container/caixa*/
	display: flex;
	flex-direction: column; /* orienta os filhos diretos de titulo-principal como colunas*/
	justify-content: center; /* justify-content sempre segue a mesma direcao do flex-direction*/
	align-items: start;
}

.em-destaque .descricao {
	margin-top: 10px;
	margin-bottom: 90px;
}

.em-destaque .titulo {
	margin-top: 15%;
	font-size: 40px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.em-destaque .botao {
	background-color: rgba(0,0,0, .50);
	border: none;
	color: white;
	
	padding: 15px 30px;
	margin-right: 15px;
	font-size: 12px;
	
	cursor: pointer;
	transition: .3s ease all; /* duracao efeito de inversao de cores*/
}

.em-destaque .botao:hover {
	/* Inverte as cores dos botoes ao passar o mouse */
	background-color:white;
	color: black;
}

.botao i {
	margin-right: 8px;
}

a.botao {
	text-decoration: none; /* remove o efeito sublinhado */
}

.container {
	margin-left: 20px;
}

.em-destaque .container {
	width: 70%;
}

.box-filme{
	height: 10%;
	width: 10%;
	display: block;
	cursor: pointer;
}

.carrossel-filmes {
	margin-top: 5px;
}

/* modal de trailers */

.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	font-family: Arial, Helvetica, sans-serif;
	background: rgba(0, 0, 0, 0.8);
	z-index: 99999;
	opacity: -1;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modal:target {
	opacity: 1;
	pointer-events: auto;
}

.modal > div {
	max-width: 560px;
	max-height: 350px;
	position: relative;
	margin: 10% auto;
	padding: 0;
	background: var(--preto);
}

.fechar {
	position: absolute;
	width: 30px;
	right: -15px;
	top: -20px;
	text-align: center;
	line-height: 30px;
	margin-top: 5px;
	background: #ff4545;
	border-radius: 50%;
	font-size: 16px;
	color: #8d0000;
}