
@media screen and (max-width:700px) {
	header .container {
		display: flex;
		flex-direction: column;
	}
	
	.botao {
		margin-top: 5px;
		width: 190px;
		/* height: 50px; */
	}
}

@media screen and (min-width:1000px) {
	.descricao {
		width: 50%;
	}
}